<div class="wrapper">
  <header>
    <h1>Zoya Ahmer</h1>
    <p></p>
    <p style="color:#6f777d"><b>Pre-Doctoral Fellow</b></p>
    <p style="color:#6f777d;font-weight:bold">Institution for Social and Policy Studies (ISPS)<br>Tobin Center for Economic Policy<br>Yale University</p>

    <p></p>

    <p>I am a pre-doctoral fellow at Yale, working with Shiro Kuriwaki and Joshua Kalla. My research interests are in political representation, voting rights, political behavior, and inequality, with a focus on how electoral institutions and immigration policy shape who gets to participate in political life and whose interests are represented. I graduated from the University of Pennsylvania with a B.A. in Philosophy, Politics, and Economics.</p>
    <hr width="70%">

    <p><a href="https://tobin.yale.edu/people/zoya-ahmer">Department Bio</a></p>

    <div class="is-container-row is-center">
      <div class="is-inset-8"><a href="https://www.linkedin.com/in/zoya-ahmer/" class="is-icon"><i class="fab fa-linkedin fa-2x"></i></a></div>
    </div>

    <br>
    <p>
      zoya.ahmer@yale.edu<br>
      Institution for Social and Policy Studies<br>
      Yale University<br>
      New Haven, CT 06511
    </p>
  </header>
</div>
